.chart .trend-line-text,
.chart .gdp-pc-bar-label{
    fill: black;
    font-size: 10px;
}

/*.chart .trend-line:hover{
    stroke-width: 2;
}*/

.chart .trend-line {
    fill: none;
    stroke-width: 2;
}

.draw {
    padding-top: 10px;
}

.axis text {
    font: 10px sans-serif;
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.chart .axis-label {
    fill: black;
    font-size: 10px;
}

.chart .gdp-bar-group rect {
    opacity: 0.8
}
