.chart circle {
    fill: steelblue;
}

.chart text {
    fill: steelblue;
    font-size: 10px;
}

.chart .trend-line:hover{
    stroke-width: 4;
}

.chart .trend-line {
    fill: none;
    stroke-width: 2;
    stroke: steelblue;
}

.draw {
    padding-top: 10px;
}

.axis text {
    font: 10px sans-serif;
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
    shape-rendering: crispEdges;
}
